@import "tailwindcss";

/* Сбросы / переменные цвета — если нужны */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

/* Глобальные стили (все остальное через Tailwind) */
body {
  background: var(--background);
}

/* html {
  scroll-behavior: smooth;
} */